body {
  background-image: url(images/street.jpg);
}
section {
  margin: 0 auto;
  max-width: 960px;
  height: 500px;
  background-color: rgba(255,255,255,0.5);
  padding: 5px 20px 0px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.githubcontainer {
  height: 550px;
}
p {
  font-size: 18px;
}
h1, p, h2 {
  text-align: center;
}
.s1 {
  height: 400px;
}
.responsive {
  font-size: 1.0em;
}
.git, .team {
  height: 200px;
  width: 200px;
}
.team {
  width: 15%;
  height: 30%;
}
.s2 {
  height: 300px;
}
.sass {
  margin: 0px auto;
  width: 20%;
  height: 30%;
}
